---
layout: default
---

  <h1 class="light" data-controller="example">Home Page</h1>

  <!-- <sl-button data-action="click->theme#switch">Button</sl-button> -->

  <blockquote>
 <p>The following sections use Rails, but aside from different tag helper names, the concepts are the same for other frameworks such as <a href="https://vite-ruby.netlify.app/guide/hanami.html">Hanami</a> and <a href="https://vite-ruby.netlify.app/guide/padrino.html">Padrino</a>.</p>
 <p>See the <a href="https://vite-ruby.netlify.app/guide/">installation guide</a> for more information.</p>
</blockquote>

  <!-- <div>
     <h1>Hey there! This is just a title</h1>
  <p>I am just a boring text, existing here solely for the purpose of this demo</p>
  <p>And I am just another one like the one above me, because two is better than having only one</p>
  <a href="#">I am a link, don't click me!</a>
  </div>
  <div>

    <sl-button type="default">Default</sl-button>
    <sl-button type="primary">Primary</sl-button>
    <sl-button type="success">Success</sl-button>
    <sl-button type="neutral">Neutral</sl-button>
    <sl-button type="warning">Warning</sl-button>
    <sl-button type="danger">Danger</sl-button>
  </div>

  <sl-alert open type="primary">
    <sl-icon name="info-circle" slot="icon"></sl-icon>
    <strong>This is super informative</strong><br/> You can tell by how pretty the alert is.
  </sl-alert>

  <br/>

  <sl-alert open type="success">
    <sl-icon name="check2-circle" slot="icon"></sl-icon>
    <strong>Your changes have been saved</strong><br/> You can safely exit the app now.
  </sl-alert>

  <br/>

  <sl-alert open type="neutral">
    <sl-icon name="gear" slot="icon"></sl-icon>
    <strong>Your settings have been updated</strong><br/> Settings will take affect on next login.
  </sl-alert>

  <br/>

  <sl-alert open type="warning">
    <sl-icon name="exclamation-triangle" slot="icon"></sl-icon>
    <strong>Your session has ended</strong><br/> Please login again to continue.
  </sl-alert>

  <br/>

  <sl-alert open type="danger">
    <sl-icon name="exclamation-octagon" slot="icon"></sl-icon>
    <strong>Your account has been deleted</strong><br/> We're very sorry to see you go!
  </sl-alert> -->

  {{ content }}

</div>
