@import "~@shoelace-style/shoelace/dist/themes/light";
@import "~@shoelace-style/shoelace/dist/themes/dark";
/* https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#toggling-themes */
:root {
  --body-background: #fafafa;
  --body-color: #444;
}

h1 {
  font-family: var(--sl-font-mono);
  font-weight: var(--sl-font-size-2x-large);
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: sans-serif;
}

nav,
footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
}

/* Dark Mode styles */
body.sl-theme-dark {
  color: #eee;
  background: #121212;
}
body.sl-theme-dark a {
  color: #809fff;
}
