<div class="theme-avatar">
  <sl-avatar
    style="--size: 2.5rem"
    shape="circle"
    initials="CW"
    image="https://res.cloudinary.com/oeelsafe/image/upload/v1627111944/r88j7skh1f3mpb4pd8lah4nag3kc.jpg"
    label="Chris Wade Developer"
  >
  </sl-avatar>
</div>
