<nav>
  <ul class="navbar-menu">
    <li class="navbar-menu-item">
      <a href="/">Home</a>
    </li>
    <li class="navbar-menu-item">
      <a href="/about">About</a>
    </li>
    <li class="navbar-menu-item">
      <a class="select-none active" href="/posts">Posts</a>
    </li>
  </ul>
  {% render "theme_toggle" %}
</nav>
