<div class="theme-toggle">
  <sl-button
    data-action="click->theme#switch"
    circle
    size="medium"
    variant="default"
  >
    <sl-icon data-theme-target="iconName" name="brightness-high"></sl-icon>
  </sl-button>
</div>
